<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Inquiry from <%= @inquiry.email %> </h1>
    Content:
    <p>
      <%= @inquiry.content %>
    </p>
    <p>
      <%= @inquiry.created_at %>
    </p>

  </body>
</html>
