<!DOCTYPE html>
<html>
  <head>
    <%= wicked_pdf_stylesheet_link_tag "pdf_styles" %>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <script type="text/javascript">
      function setHeader() {
        var vars={};
        var x=document.location.search.substring(1).split('&');
        for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}

        if(vars['page'] == 1){
         var elt = document.getElementById("header-logo");
          elt.style.display = "block";
        }
      }
    </script>
  </head>
  <body onload="setHeader()">
    <div class="fpdf-header-container loat-left">

      <div id="header-logo">
        <%= wicked_pdf_image_tag image_url('i-Work.png') %>
      </div>
      <div class="doc-title">
        <%= document_title %>
      </div>

    </div>
    <%= raw(other_content) %>
  </body>
</html>
