@for $i from 1 through 30 {
  .pd-#{$i} {
    padding: #{$i}px;
  }
  .mg-#{$i} {
    margin: #{$i}px;
  }
  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }
  .mr-#{$i} {
    margin-right: #{$i}px;
  }
  .ml-#{$i} {
    margin-left: #{$i}px;
  }
  .pt-#{$i} {
    padding-top: #{$i}px;
  }
  .pb-#{$i} {
    padding-bottom: #{$i}px;
  }
  .pr-#{$i} {
    padding-right: #{$i}px;
  }
  .pl-#{$i} {
    padding-left: #{$i}px;
  }
}
.flash-message {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: var(--zindex-fixed-element);

  background-color: var(--color-bg);
  padding: var(--space-sm);
  box-shadow: var(--shadow-sm);
  border-radius: var(--radius-md);
  color: var(--color-contrast-high);
  font-size: var(--text-sm);

  transition: .2s;
  transform: translateY(16px);
  transform-origin: bottom left;
  // hide element
  opacity: 0;
  visibility: hidden;
}

.flash-message--is-visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
