.section-container {
  display: flex;
  align-items: center;
  background: #f9f9f9;
  border: solid 1px #e8e9eb;
  cursor: pointer;
  height: auto;
  margin-top: 3px;
  padding: 10px 30px 10px 22px;
}