$btn_color: #212529;
$input_height: 40px;
$base_line_height: 20px;
$background_primary: #007c89;
$base_font_size: 14px;
$active_bg_primary: #6c7a7b;
input {
  height: $input_height;
  line-height: $base_line_height;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: $base_font_size;
}

.btn {
  color: #241c15;
  min-width: 7.5rem;
  background-color: #ffffff;
  padding: 10px;
  margin: 2px;
  color: $btn_color;
  border-radius: 4px;
  line-height: $base_line_height;
  font-size: $base_font_size;
  border-radius: 4px;
}
.btn-primary {
  background-color: $background_primary;
  color: white;
  font-weight: 700;
}
.btn-secondary {
  border: 1px solid #dedddc;
  color: #10100f;
  background-color: transparent;
}
.btn-active-primary {
  @extend .btn-primary;
  background-color: $active_bg_primary;
}
.field-error {
  border: 1px solid red;
}
