.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
  .content-center {
    justify-content: center;
  }
}
.flex-row.align-end {
  align-items: flex-end;
}
.flex-row.space-between {
  justify-content: space-between;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.flex-right {
  display: flex;
  justify-content: flex-end;
}
.half {
  width: 50%;
}
.full {
  width: 100%;
}
.pt-10 {
  padding-top: 10px;
}
.left-nav {
  display: flex;
  flex-flow: column;
  min-width: 100px;
  max-width: 20%;
}
@media (max-width: 414px) {
  .small-hidden {
    display: none;
  }
}
